services:
  database:
    image: "mysql:8.1.0"
    restart: always
    environment:
      MYSQL_DATABASE: "chat-translator-db"
      MYSQL_USER: main
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"